html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Georgia', serif;
    padding-top: 30px;
}


main {
    flex: 1;
}

/* Default layout */
/* Header */
header {
    position: fixed;
    /* Fixes the header to the top */
    top: 0;
    /* Aligns it to the top */
    left: 0;
    /* Aligns it to the left */
    width: 100%;
    /* Full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1000;
    /* Ensures it stays above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: subtle shadow for depth */
}

.logo {
    height: 50px;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
    margin-right: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #1e3a8a;
}








/* Footer */
.footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: auto;
}

.footer-content p {
    margin: 0.3rem 0;
}

.footer-bottom {
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.8;
}
